[Unit]
Description=Run Vaultr SQLite backups

[Timer]
OnBootSec=10min
OnUnitActiveSec=12h
RandomizedDelaySec=5min
Persistent=true
Unit=vaultr-backup.service

[Install]
WantedBy=timers.target
